<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ItsuDaregame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6C262AA1F61127800CA1334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6C262C11F61127800CA1334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6C262CC1F61127800CA1334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
